In [1]:
import time
# 이미지 다운
import urllib.request as req
# 이미지 바이트 처리
from io import BytesIO

# 엑셀 처리 임포트
import xlsxwriter
# bs4 임포트
from bs4 import BeautifulSoup
# selenium 임포트
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import json
import pandas as pd
import urllib.request
import lxml.html
from fake_useragent import UserAgent
import os

In [2]:
# Hearder 정보 초기화
opener = req.build_opener()
# User-Agent 정보
opener.addheaders = [('User-agent', UserAgent().ie)]
# Header 정보 삽입
req.install_opener(opener)

In [3]:
chrome_options = Options()
chrome_options.add_argument("--headless")

# webdriver 설정(Chrome, Firefox 등) - Headless 모드
#browser = webdriver.Chrome('../webdriver/chromedriver.exe', options=chrome_options)

# webdriver 설정(Chrome, Firefox 등) - 일반 모드
browser = webdriver.Chrome('webdriver/chromedriver.exe')

In [4]:
# 크롬 브라우저 내부 대기
browser.implicitly_wait(3)

# 브라우저 사이즈
browser.set_window_size(1920, 1280)  # maximize_window(), minimize_window()

# 페이지 이동
browser.get('http://cu.bgfretail.com/event/plus.do?category=event&depth2=1&sf=N')

# 1차 페이지 내용
# print('Before Page Contents : {}'.format(browser.page_source))

In [5]:
time.sleep(2)
# 1+1 행사 클릭
WebDriverWait(browser, 4) \
    .until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="contents"]/div[1]/div[1]/ul/li[2]'))).click()
time.sleep(4)

In [6]:
# 더보기 클릭
body = browser.find_element_by_tag_name("body")
num_of_pagedowns = 2

while num_of_pagedowns :
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(1)
    num_of_pagedowns -=1
    try :
        WebDriverWait(browser, 3).until(EC.presence_of_element_located(
            (By.CSS_SELECTOR, 'div.prodListBtn-w > a'.format()))).click()
    except:
        break

In [7]:
time.sleep(3)
name = []
price = []
tp = []
soup = BeautifulSoup(browser.page_source, "html.parser")
pro_list = soup.select('div.prodListWrap > ul > li')


for v in pro_list:
    prod_name = v.select('p.prodName > a')[0].text.strip()
    name.append(prod_name)
    prod_price = v.select('p.prodPrice')[0].text.strip()
    price.append(prod_price)
    prod_tp = v.select('ul > li')[0].text.strip()
    tp.append(prod_tp)

    


# print(name)
# print(price)
# print(tp)

In [8]:
time.sleep(3)
# 2+1 행사 클릭
WebDriverWait(browser, 3) \
    .until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="contents"]/div[1]/div[1]/ul/li[3]'))).click()
time.sleep(3)

In [9]:
# 더보기 클릭
body = browser.find_element_by_tag_name("body")
num_of_pagedowns = 50

while num_of_pagedowns :
#     body.send_keys(Keys.PAGE_DOWN)
    num_of_pagedowns -=1
    time.sleep(7)
    try :
        WebDriverWait(browser, 3).until(EC.presence_of_element_located(
            (By.CSS_SELECTOR, 'div.prodListBtn-w > a'.format()))).click()
    except:
        break

In [10]:
time.sleep(3)
name2 = []
price2 = []
tp2 = []
soup = BeautifulSoup(browser.page_source, "html.parser")
pro_list = soup.select('div.prodListWrap > ul > li')


for v in pro_list:
    prod_name = v.select('p.prodName > a')[0].text.strip()
    name2.append(prod_name)
    prod_price = v.select('p.prodPrice')[0].text.strip()
    price2.append(prod_price)
    prod_tp = v.select('ul > li')[0].text.strip()
    tp2.append(prod_tp)

    


# print(name)
# print(price)
# print(tp)

In [11]:
#
time.sleep(3)
# 3+1 행사 클릭
WebDriverWait(browser, 2).until(EC.presence_of_element_located((By.CSS_SELECTOR, 'div.relCon > div.depth3.mb40 > ul > li.eventInfo_04 > a'))).click()
time.sleep(3)

In [12]:
name3 = []
price3 = []
tp3 = []
soup = BeautifulSoup(browser.page_source, "html.parser")
pro_list = soup.select('div.prodListWrap > ul > li')


for v in pro_list:
    prod_name = v.select('p.prodName > a')[0].text.strip()
    name3.append(prod_name)
    prod_price = v.select('p.prodPrice')[0].text.strip()
    price3.append(prod_price)
    prod_tp = v.select('ul > li')[0].text.strip()
    tp3.append(prod_tp)
    

# print(name)
# print(price)
# print(tp)

In [14]:
# 1+1 데이터프레임화
df_cu_oneplusone = pd.DataFrame({'품명':name, '가격':price, '행사명':tp})
print(df_cu_oneplusone)

                 품명       가격  행사명
0       푸르밀)카페베네라떼컵   1,600원  1+1
1       푸르밀)카페베네모카컵   1,600원  1+1
2      롯데)에비앙P500ml   1,600원  1+1
3   코카)태양의마테차P500ml   1,400원  1+1
4      롯데)펩시콜라P1.5L   2,800원  1+1
5    롯데)게토레이레몬P1.5L   3,200원  1+1
6      푸르밀)카페베네카라멜컵   1,600원  1+1
7       46cm)초극세모칫솔   3,500원  1+1
8     리스테린)쿨민트250ML   4,300원  1+1
9         메디안센서티브칫솔   3,000원  1+1
10          2080)칫솔   2,600원  1+1
11      화이트)탐폰수퍼형8입   4,500원  1+1
12    화이트)시크릿울날대16입   8,200원  1+1
13         엘라스틴퍼퓸샴푸   9,900원  1+1
14        페리오)토탈7치약   3,500원  1+1
15      페리오)이지클리닉칫솔   1,900원  1+1
16   뉴페브리즈)다우니370ml   7,600원  1+1
17          다우니핑크1l   8,500원  1+1
18  서울)스페셜티마일드250ml   1,900원  1+1
19       빙그레)오프룻딸기컵   1,900원  1+1
20         오랄비후레쉬칫솔   1,800원  1+1
21        귀애랑)울날중4입   2,000원  1+1
22     귀애랑)울날O/N12입   8,600원  1+1
23        미쟝센)데미지샴푸  12,500원  1+1
24        미쟝센)데미지린스  12,500원  1+1
25        엘지)테크750g   4,800원  1+1
26     바디)수퍼롱와이드10입   7,300원  1+1
27    오가니스트)샴푸200ml   6,000원  1+1
28    오가니스트)린스200ml   6,000원  1+1
29       귀애랑)울날중18입   8,200원  1+1
..              ...      ...  ...
67    순수한면)제로순면대14입   8,200원  1+1
68    순수한면)제로순면중16입   8,200원  1+1
69     바디)내몸에순한면중4입   2,000원  1+1
70    GRN)지금부터숙취해소제   5,000원  1+1
71      2080)자일리톨치약   3,500원  1+1
72     하이트)새벽헛개P500   2,000원  1+1
73      온더바디)레몬클렌징폼   4,900원  1+1
74      빙그레)오프룻복숭아컵   1,900원  1+1
75  프레시팝)모히또샴푸500ML  15,000원  1+1
76    깨끗한)촉앤감롤티슈24롤  26,900원  1+1
77          CJ)컨디션환   2,900원  1+1
78        빙그레)슈퍼콘딸기   1,800원  1+1
79    롯데)게토레이캔340ml   1,400원  1+1
80     온더바디)원샷썬킬선크림  11,900원  1+1
81   다논)드링킹그레이프310m   1,800원  1+1
82   다논)드링킹망고요거트310   1,800원  1+1
83   다논)드링킹캐러멜310ml   1,800원  1+1
84    먼지몬지)황사마스크10매  19,900원  1+1
85   서울)헛개로깨초코140ml   1,600원  1+1
86     웅진)이온더핏500ml   2,000원  1+1
87       삼양)짱구허니볶음컵   1,500원  1+1
88      삼양)뽀빠이야끼소바컵   1,500원  1+1
89    진주햄)콘앤스윗치즈45g   1,600원  1+1
90  롯데)멀티V스파클링500ml   1,700원  1+1
91      샤프란)스타일러탈취제   3,500원  1+1
92      리엔)크림염색제흑갈색  11,900원  1+1
93     해피바스)미셀라클렌징폼  11,000원  1+1
94       푸르밀)인디언밥우유   1,500원  1+1
95   롯데)게토레이블루340ml   1,400원  1+1
96    동원)친친오리지널봉70g   1,400원  1+1

[97 rows x 3 columns]

In [15]:
# 2+1 데이터프레임화
df_cu_twoplusone = pd.DataFrame({'품명':name2, '가격':price2, '행사명':tp2})
print(df_cu_twoplusone)

                  품명       가격  행사명
0            크라운)키커바   1,000원  2+1
1             해태)연양갱     900원  2+1
2          나뚜루)녹차파인트  10,500원  2+1
3          나뚜루)딸기파인트  10,500원  2+1
4         나뚜루)초콜릿파인트  10,500원  2+1
5                누가바   1,000원  2+1
6         해태)부라보바닐라콘   1,800원  2+1
7            빙그레)메로나   1,000원  2+1
8                빠삐코   1,200원  2+1
9             롯데)죠스바   1,000원  2+1
10       롯데푸드)CVS구구콘   1,800원  2+1
11            롯데)수박바   1,000원  2+1
12               비비빅   1,000원  2+1
13            해태)쌍쌍바   1,000원  2+1
14       샘표)질러부드러운육포   4,000원  2+1
15       CJ)맥스봉치즈50g   1,600원  2+1
16          CJ)맛밤80g   3,500원  2+1
17         샘표)질러직화육포   5,800원  2+1
18        롯)의성마늘프랑크바   1,800원  2+1
19     동원)매운고추참치150g   3,600원  2+1
20       동서)맥심모카골드원컵     900원  2+1
21      동서)맥심화이트골드원컵   1,000원  2+1
22          동원)양반전복죽   3,500원  2+1
23         오뚜기)참깨라면컵   1,200원  2+1
24         오뚜기)스파게티컵   1,000원  2+1
25          동원)양반호박죽   3,500원  2+1
26         오뚜기)치즈볶이컵   1,100원  2+1
27      롯데)칸타타아메리카노캔   1,300원  2+1
28    동서)티오피아메리카노275   2,200원  2+1
29    동서)티오피더블랙275ml   2,200원  2+1
..               ...      ...  ...
459     롯데푸드)빽초코바나나콘   1,800원  2+1
460     해태)친절한콘군옥수수맛   1,000원  2+1
461        해태)연양갱라이트     900원  2+1
462      풀무원)얇은피고기만두   3,000원  2+1
463      풀무원)얇은피김치만두   3,000원  2+1
464       롯데)도리토스마라맛   1,500원  2+1
465         롯데)일품팥빙수   3,000원  2+1
466       롯데)꽃맛살바80g   2,200원  2+1
467        사조)오리지널육포   3,800원  2+1
468          사조)구운육포   3,800원  2+1
469     매일)스키피피넛버터우유   1,200원  2+1
470     빙그레)요플레토핑프레첼   1,500원  2+1
471        본죽)남도꼬막무침   3,500원  2+1
472       본죽)매콤차돌시래기   2,500원  2+1
473        커피엔)고소한월병   1,000원  2+1
474      커피엔)더블미니파운드   1,500원  2+1
475     한성)크래미맛살소90g   2,200원  2+1
476        하림)닭가슴살갈릭   2,900원  2+1
477      오뚜기)간편고등어구이   4,000원  2+1
478     진주)천하장사오리지널바   2,000원  2+1
479     진주)천하장사매콤달콤바   2,000원  2+1
480    오뚜기)컵밥맛집김치찌개밥   3,500원  2+1
481    오뚜기)컵밥오삼불고기덮밥   3,500원  2+1
482        썬푸드)구운노가리   2,500원  2+1
483       썬푸드)올리브유쥐포   2,500원  2+1
484    동원)보성꽃차P500ml   2,200원  2+1
485    CJ)새싹보리P500ml   2,000원  2+1
486  롯데)젤리톡톡오렌지185ml   1,200원  2+1
487   롯데)젤리톡톡포도185ml   1,200원  2+1
488     코카)암바사캔345ml   1,300원  2+1

[489 rows x 3 columns]

In [16]:
# 3+1 데이터프레임화
df_cu_threeplusone = pd.DataFrame({'품명':name3, '가격':price3, '행사명':tp3})
print(df_cu_threeplusone)

         품명      가격  행사명
0  농심)신라면건면  1,000원  3+1

In [ ]:
# CU합치기
products4 = pd.concat([products,products2,products3])
products4

In [ ]:
# 전체상품 인덱스 초기화
products4.reset_index(drop=True, inplace=True)
products4

In [17]:
# conda install pymysql -c conda-forge

from sqlalchemy import create_engine
import pymysql

# mysql 연결정보 => host 127.0.0.1 / 사용자 root  / 암호 1234  / 데이터베이스명 flask_db
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1/cu?charset=utf8', convert_unicode=True, echo=True)
conn = engine.connect()

df_cu_oneplusone.to_sql(name='df_cu_oneplusone', con=engine, if_exists='replace', index=True)
df_cu_twoplusone.to_sql(name='df_cu_twoplusone', con=engine, if_exists='replace', index=True)
df_cu_threeplusone.to_sql(name='df_cu_threeplusone', con=engine, if_exists='replace', index=True)

2019-08-13 13:26:27,970 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-08-13 13:26:27,971 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:27,977 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-08-13 13:26:27,978 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:27,986 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-08-13 13:26:27,987 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:27,989 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-08-13 13:26:27,991 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:27,995 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-08-13 13:26:27,996 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:27,997 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-08-13 13:26:27,998 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:27,999 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-08-13 13:26:28,000 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:28,006 INFO sqlalchemy.engine.base.Engine DESCRIBE `df_cu_oneplusone`
2019-08-13 13:26:28,007 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:28,010 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-08-13 13:26:28,013 INFO sqlalchemy.engine.base.Engine
CREATE TABLE df_cu_oneplusone (
	`index` BIGINT,
	`품명` TEXT,
	`가격` TEXT,
	`행사명` TEXT
)


2019-08-13 13:26:28,014 INFO sqlalchemy.engine.base.Engine {}

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

2019-08-13 13:26:28,396 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:28,398 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_df_cu_oneplusone_index ON df_cu_oneplusone (`index`)
2019-08-13 13:26:28,398 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:28,662 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:28,666 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-08-13 13:26:28,669 INFO sqlalchemy.engine.base.Engine INSERT INTO df_cu_oneplusone (`index`, `품명`, `가격`, `행사명`) VALUES (%(index)s, %(품명)s, %(가격)s, %(행사명)s)
2019-08-13 13:26:28,670 INFO sqlalchemy.engine.base.Engine ({'index': 0, '\ud488\uba85': '푸르밀)카페베네라떼컵', '\uac00\uaca9': '1,600원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 1, '\ud488\uba85': '푸르밀)카페베네모카컵', '\uac00\uaca9': '1,600원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 2, '\ud488\uba85': '롯데)에비앙P500ml', '\uac00\uaca9': '1,600원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 3, '\ud488\uba85': '코카)태양의마테차P500ml', '\uac00\uaca9': '1,400원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 4, '\ud488\uba85': '롯데)펩시콜라P1.5L', '\uac00\uaca9': '2,800원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 5, '\ud488\uba85': '롯데)게토레이레몬P1.5L', '\uac00\uaca9': '3,200원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 6, '\ud488\uba85': '푸르밀)카페베네카라멜컵', '\uac00\uaca9': '1,600원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 7, '\ud488\uba85': '46cm)초극세모칫솔', '\uac00\uaca9': '3,500원', '\ud589\uc0ac\uba85': '1+1'}  ... displaying 10 of 97 total bound parameter sets ...  {'index': 95, '\ud488\uba85': '롯데)게토레이블루340ml', '\uac00\uaca9': '1,400원', '\ud589\uc0ac\uba85': '1+1'}, {'index': 96, '\ud488\uba85': '동원)친친오리지널봉70g', '\uac00\uaca9': '1,400원', '\ud589\uc0ac\uba85': '1+1'})
2019-08-13 13:26:28,676 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:28,745 INFO sqlalchemy.engine.base.Engine DESCRIBE `df_cu_twoplusone`
2019-08-13 13:26:28,746 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:28,747 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-08-13 13:26:28,749 INFO sqlalchemy.engine.base.Engine
CREATE TABLE df_cu_twoplusone (
	`index` BIGINT,
	`품명` TEXT,
	`가격` TEXT,
	`행사명` TEXT
)


2019-08-13 13:26:28,750 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:29,205 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:29,207 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_df_cu_twoplusone_index ON df_cu_twoplusone (`index`)
2019-08-13 13:26:29,207 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:29,932 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:29,936 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-08-13 13:26:29,944 INFO sqlalchemy.engine.base.Engine INSERT INTO df_cu_twoplusone (`index`, `품명`, `가격`, `행사명`) VALUES (%(index)s, %(품명)s, %(가격)s, %(행사명)s)
2019-08-13 13:26:29,946 INFO sqlalchemy.engine.base.Engine ({'index': 0, '\ud488\uba85': '크라운)키커바', '\uac00\uaca9': '1,000원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 1, '\ud488\uba85': '해태)연양갱', '\uac00\uaca9': '900원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 2, '\ud488\uba85': '나뚜루)녹차파인트', '\uac00\uaca9': '10,500원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 3, '\ud488\uba85': '나뚜루)딸기파인트', '\uac00\uaca9': '10,500원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 4, '\ud488\uba85': '나뚜루)초콜릿파인트', '\uac00\uaca9': '10,500원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 5, '\ud488\uba85': '누가바', '\uac00\uaca9': '1,000원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 6, '\ud488\uba85': '해태)부라보바닐라콘', '\uac00\uaca9': '1,800원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 7, '\ud488\uba85': '빙그레)메로나', '\uac00\uaca9': '1,000원', '\ud589\uc0ac\uba85': '2+1'}  ... displaying 10 of 489 total bound parameter sets ...  {'index': 487, '\ud488\uba85': '롯데)젤리톡톡포도185ml', '\uac00\uaca9': '1,200원', '\ud589\uc0ac\uba85': '2+1'}, {'index': 488, '\ud488\uba85': '코카)암바사캔345ml', '\uac00\uaca9': '1,300원', '\ud589\uc0ac\uba85': '2+1'})
2019-08-13 13:26:30,015 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:30,078 INFO sqlalchemy.engine.base.Engine DESCRIBE `df_cu_threeplusone`
2019-08-13 13:26:30,080 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:30,081 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-08-13 13:26:30,084 INFO sqlalchemy.engine.base.Engine
CREATE TABLE df_cu_threeplusone (
	`index` BIGINT,
	`품명` TEXT,
	`가격` TEXT,
	`행사명` TEXT
)


2019-08-13 13:26:30,085 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:31,313 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:31,315 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_df_cu_threeplusone_index ON df_cu_threeplusone (`index`)
2019-08-13 13:26:31,316 INFO sqlalchemy.engine.base.Engine {}
2019-08-13 13:26:31,762 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 13:26:31,765 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-08-13 13:26:31,766 INFO sqlalchemy.engine.base.Engine INSERT INTO df_cu_threeplusone (`index`, `품명`, `가격`, `행사명`) VALUES (%(index)s, %(품명)s, %(가격)s, %(행사명)s)
2019-08-13 13:26:31,767 INFO sqlalchemy.engine.base.Engine {'index': 0, '\ud488\uba85': '농심)신라면건면', '\uac00\uaca9': '1,000원', '\ud589\uc0ac\uba85': '3+1'}
2019-08-13 13:26:31,768 INFO sqlalchemy.engine.base.Engine COMMIT